body {
    font-family: "Assistant", sans-serif;
}

h1, p{
    width: 100%;
    text-align: center;
}

h5 {
    font-size: 15px;
}

h4 {
    font-size: 30px;
}

li {
    font-size: 30px;
    text-decoration: none; 
}

h3 {
    font-size: 30px;
}

.title{
    font-family: "Lato", sans-serif;
    color: white;
}
 
 .title-box{
     background-color: grey;
     padding: 10%;
 }

 header{
    position: relative;
     background-color: black;
     color: white;
     padding: 2.5%;
     text-align: center;
 }

 a {
    text-align: left;
    font-size: 30px;
    padding: 0%;
    text-decoration: none; 
 }

 .header-links {
     color: white;
     font-size: 30px;
     padding: 7%;
 }

 footer{
     background: black;
     color: white;
     padding: 3%;
 }

 .about{
     font-size: 30px;
 }
.copyright{
    text-align: left;
    font-size: 100%;
}

.contacts-title{
    text-align: center;
    font-size: 200%;
}

.contacts {
    color: black;
    text-decoration: underline;
}
