body {
    font-family: "Assistant", sans-serif;
}

h1, p{
    width: 100%;
    text-align: center;
}

.title{
    font-family: "Lato", sans-serif;
    color: white;
}
 
 .title-box{
     background-color: grey;
     padding: 10%;
     margin: 20%;
 }
